<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khoaluan.mxhgiaothong">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <application
        android:largeHeap="true"
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.khoaluan.mxhgiaothong.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
        <activity android:name=".activities.login.LoginActivity"/>
        <activity android:name=".activities.login.ForgotPassActivity"/>
        <activity android:name=".activities.login.RegisterActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://644779138511211:ELDLC1yakqdT3O13lHFhElY4bGA@netficcloud"/>
        <activity android:name=".activities.post.ListPostActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.post.CreatePostActivity"/>
        <activity android:name=".activities.profile.ProfileDetailActivity"/>
        <service android:name=".backgroundService.BackgroundService"/>
        <activity android:name=".activities.WelcomeActivity"/>
        <activity android:name=".activities.profile.EditProfileActivity"/>
        <activity android:name=".activities.post.ChooseCategoryActivity"/>
        <activity android:name=".activities.post.ListCommentsActivity"/>
    </application>

</manifest>